.ipynb_checkpoints
*__pycache__
datasets/mscoco/annotations_trainval2017
datasets/mscoco/val2017
datasets/flickr30/flickr30k_images
datasets/flickr30/results.csv
**.zip
experiments/*/
*test.ipynb
distill_cos*
distill_scr*
test*
.log
.cache
.log
.mobilenet
.dataset
.transformer
*.ckpt
*.script
*.err
*.out
models/huggingface_pruned_clip/pruned_models
pruning_machanism/__pycache__
pruning_machanism/fisher_pruning/dataset/val2017/*
pruning_machanism/fisher_pruning/dataset/train2017/*
pruning_machanism/fisher_pruning/dataset/annotations_trainval2017/*
pruning_machanism/fisher_pruning/dataset/__pycache__/
pruning_machanism/pruned_models/*
pruning_machanism/.dataset
pruning_machanism/.transformer
